---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <Hero>
    <h1>Page Not Found</h1>
    <br />
    <a
      class="bg-quaternary text-white font-bold py-2 px-4 rounded no-underline"
      href="/"
    >
      Home
    </a>
  </Hero>
</BaseLayout>
