---
import Card from "../components/Card.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <Card
    image="/assets/images/profiles/colin.jpg"
    href="https://www.linkedin.com/in/colin-curtis826/"
  >
    <div class="text-xl font-bold mb-2">Colin Curtis</div>
    <p class="text-grey-700 text-base">Co-president</p>
  </Card>
</BaseLayout>
