---
const color = Astro.props.color ? Astro.props.color : "bg-gradient-to-r from-brand-500 to-accent-500";
const invert = Astro.props.invert ? "text-white" : "text-ink-700";
---

<a href={Astro.props.href} class="block">
  <div class={`py-8 px-10 ${color} rounded-2xl shadow-lift`}>
    <div class={`mx-auto text-center ${invert} text-xl md:text-2xl font-semibold`}>
      <slot />
    </div>
  </div>
</a>
