---
---

<a
  class="mx-auto w-64 block lg:w-full lg:h-64 lg:flex lg:items-center no-underline hover:bg-slate-50 rounded-lg"
  href={Astro.props.href}
>
  {Astro.props.image ? <img class="w-full lg:px-6 lg:my-auto lg:h-48 lg:w-auto" src={Astro.props.image} /> : null}
  <div class={`px-6 py-4 ${Astro.props.prose ? 'prose' : ''}`}>
    <slot />
  </div>
</a>