---
const color = Astro.props.color ? Astro.props.color : "bg-slate-700";
const invert = Astro.props.invert ? "" : "prose-invert";
---

<div class={`py-12 ${color}`}>
  <div class={`w-full ${invert}`}>
    <slot />
  </div>
</div>
