---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  href: string;
}
const { image, href } = Astro.props;
---

<a class="block no-underline text-center" href={href}>
  <Image
    class="mx-auto rounded-full"
    src={image}
    alt="profile picture"
    width={192}
    height={192}
    format="webp"  
  />
  <div class="px-6 pb-10 prose prose-h1:text-xl">
    <slot />
  </div>
</a>
